body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

.logo-box {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/logo_inactive.png);
    display:inline-block;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: 0.2s ease;
}

.wave {
    width: 600px;
    height: 600px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/hello.png);
    display:inline-block;
    background-size: 90%;
    background-repeat: no-repeat;  
}

.cat {
    height: 500px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/cats.png);
    display:inline-block;
    background-size: 100;
    background-repeat: no-repeat;  
}

.logo-box:hover {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: 100%;
    background-image: url(Img/logo_active.png);
    display:inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.app-logo {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/app_logo.png);
    display:inline-block;
    background-size: 80%;
    background-repeat: no-repeat;  
}


.app-description {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.peek {
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/peek.png);
    display:inline-block;
    background-size: 80%;
    background-repeat: no-repeat;  
}

.peek-description {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone {
    width: 400px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/phone_inactive.png);
    display:inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.example {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-position: center;
    background-image: url(Img/cats.png);
    background-repeat: no-repeat;
}

.sign {
    width: 250px;
    height: 250px;
    background-size: 100%;
    background-position: center;
    background-image: url(Img/sign.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loaf {
    width: 500px;
    height: 500px;
    background-size: 100%;
    background-position: center;
    background-image: url(Img/loaf.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


.phone:hover {
    width: 400px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/phone_active.png);
    display:inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.notes {
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-image: url(Img/music.png);
    display:inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav-link-custom {
    background-color: #22333b;
    color: white;
    padding: 36px 30px;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    min-width: 209px;
    height: 100px;
    line-height: 28px;
    transition: background-color 0.3s ease;
}

.nav-link-custom:hover {
    background-color: #2d4450;
    color: white;
}


.content-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 992px) {
    .nav-link-custom {
        font-size: 18px;
        padding: 20px 15px;
        min-width: 150px;
        height: auto;
    }
    
    .logo-box {
        width: 100px !important;
        height: 100px !important;
    }
    
    .navbar-brand {
        font-size: 24px !important;
    }
}

@media (max-width: 768px) {
    .navbar .d-flex.gap-3 {
        flex-direction: column;
        gap: 0.5rem !important;
    }
    
    .nav-link-custom {
        width: 100%;
        font-size: 16px;
        padding: 15px 10px;
    }
}
